<div class="grid text-center">
  <div class="row"><p class="display-1 px-0"><%= @result[:message] %></p></div>
  <div class="row"><h2 class="px-0">GRID: <%= params[:grid] %></h2></div>
  <div class="row"><h2 class="px-0">Attemp: <%= params[:word] %></h2></div>
  <div class="row"><h3 class="px-0">Scores: <%= @result[:score] %></h3></div>
  <%= link_to new_path do %>
    <div class="row"><button class="btn btn-primary text-white">Play Again</a></div>
  <% end %>
</div>